<?xml version="1.0" encoding="utf-8"?><!-- Chapter 1, Exercise 1: Change version data to 2 and 2.0 -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="codepath.apps.demointroandroid"
    android:keepScreenOn="true"
    android:persistent="true"
    android:versionCode="2"
    android:versionName="2.0">

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.NoTitleBar">
        <activity
            android:name=".ScoreKeeperActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/settings"
            android:screenOrientation="landscape">
        </activity>
        <activity
            android:name=".ColorActivity"
            android:screenOrientation="landscape">
        </activity>
    </application>

</manifest>